<footer>
  <div class="bg-white px-42 py-16 shadow-[0px_5px_25px_15px_rgba(0,0,0,0.1)]">
    <div class="flex justify-between">
      <div class="max-w-sm">
        <div class="flex items-center gap-4 mb-7">
          <img
            src="/public/assets/logo/blackLogo.png"
            alt=""
            class="w-11 h-11 object-contain"
          />

          <p class="text-3xl tracking-[0.22em] uppercase">
            Ruang Fiksi
          </p>
        </div>

        <p class="text-gray-600 leading-8">
          Ruang Fiksi adalah website e-commerce buku modern yang menyediakan
          berbagai koleksi buku fiksi dengan tampilan sederhana.
        </p>
      </div>

      <div>
        <p class="font-bold tracking-[0.2em] mb-7">MENU</p>

        <ul class="space-y-5 text-gray-600">
          <li>
            <a href="#" class="hover:text-sky-950 transition"> Home </a>
          </li>

          <li>
            <a href="#" class="hover:text-sky-950 transition"> Product </a>
          </li>

          <li>
            <a href="#" class="hover:text-sky-950 transition"> About </a>
          </li>
        </ul>
      </div>

      <div>
        <p class="font-bold tracking-[0.2em] mb-7">FOLLOW US</p>

        <div class="flex gap-4">
          <div
            class="w-12 h-12 rounded-full border border-gray-300 flex items-center justify-center cursor-pointer hover:bg-sky-950 hover:text-white transition"
          >
            <iconify-icon icon="mdi:instagram" class="text-2xl"></iconify-icon>
          </div>

          <div
            class="w-12 h-12 rounded-full border border-gray-300 flex items-center justify-center cursor-pointer hover:bg-sky-950 hover:text-white transition"
          >
            <iconify-icon icon="mdi:facebook" class="text-2xl"></iconify-icon>
          </div>

          <div
            class="w-12 h-12 rounded-full border border-gray-300 flex items-center justify-center cursor-pointer hover:bg-sky-950 hover:text-white transition"
          >
            <iconify-icon icon="mdi:twitter" class="text-2xl"></iconify-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-sky-950 px-42 py-6 flex justify-between items-center">
    <div class="flex items-center gap-3">
      <img src="/public/assets/logo/whiteLogo.png" alt="" class="w-8" />

      <p class="text-white tracking-[0.22em] text-lg uppercase">Ruang Fiksi</p>
    </div>

    <p class="text-gray-300 text-sm">
      © 2026 Ruang Fiksi. All rights reserved.
    </p>
  </div>
</footer>
