<nav class="shadow-[0px_5px_25px_15px_rgba(0,0,0,0.1)] fixed top-0 left-0 w-full z-50 bg-white">
  <div class="bg-sky-950 px-35 py-2">
    <ul class="flex gap-10 underline text-sm text-white ">
      <li><a href="/dist/index.html" class="hover:text-sky-200">Home</a></li>
      <li><a href="/dist/catalog.html" class="hover:text-sky-200">Product</a></li>
      <li><a href="/dist/index.html" class="hover:text-sky-200">About</a></li>
    </ul>
  </div>

  <div class="flex justify-between items-center px-35 py-5">
    <div class="flex items-center gap-3">
      <img src="/public/assets/logo/blackLogo.png" class="w-10 h-10" alt="">
      <p class="text-2xl tracking-[0.22em] uppercase">Ruang Fiksi</p>
    </div>

    <div class="flex items-center gap-5">
      <div class="flex items-center border w-80 pr-3 gap-2 bg-white border-gray-500/30 h-[46px] rounded-[5px] overflow-hidden">
        <input
          class="w-full h-full pl-5 outline-none placeholder-gray-500 text-sm"
          placeholder="Search for books"
          type="text"
        />
        <iconify-icon icon="material-symbols:search-rounded" width="24" height="24" class="text-gray-500"></iconify-icon>
      </div>

      <a onclick="pindahKeCart()">
        <iconify-icon icon="mdi:cart" class="text-gray-500 text-2xl cursor-pointer"></iconify-icon>
      </a>

      <div class="h-[30px] w-[2px] bg-gray-500/30"></div>

      <div id="auth-section"></div>
    </div>
  </div>
</nav>