<nav
  class="fixed top-0 left-0 w-full z-50 bg-[#FAF7F2] shadow-[0px_5px_25px_15px_rgba(0,0,0,0.1)]"
>
  <!-- Top Bar -->
  <div class="bg-[#6B5B4D] px-6 md:px-16 lg:px-42 py-2">
    <ul class="flex gap-5 md:gap-10 underline text-sm text-white">
      <li>
        <a href="/dist/index.html#main" class="hover:text-[#F5E6D3]">Home</a>
      </li>
      <li>
        <a href="/dist/catalog.html" class="hover:text-[#F5E6D3]">Catalog</a>
      </li>
      <li>
        <a href="/dist/index.html#category" class="hover:text-[#F5E6D3]"
          >Category</a
        >
      </li>
      <li>
        <a href="/dist/index.html#testimonial" class="hover:text-[#F5E6D3]"
          >Reviews</a
        >
      </li>
    </ul>
  </div>

  <!-- Main Navbar -->
  <div
    class="flex flex-wrap justify-between items-center gap-3 px-6 md:px-16 lg:px-42 py-4 md:py-5"
  >
    <!-- Logo -->
    <div class="flex items-center gap-3">
      <img
        src="/public/assets/logo/blackLogo.png"
        class="w-8 h-8 md:w-10 md:h-10"
        alt=""
      />
      <p class="text-lg md:text-2xl tracking-[0.22em] uppercase text-[#3D342B]">
        Ruang Fiksi
      </p>
    </div>

    <!-- Search + Cart + Auth -->
    <div class="flex items-center gap-3 md:gap-5 w-full md:w-auto">
      <div
        class="flex items-center border border-[#D9D1C7] flex-1 md:w-80 md:flex-none pr-3 gap-2 bg-white h-[42px] md:h-[46px] rounded-lg overflow-hidden"
      >
        <input
          id="searchInput"
          class="w-full h-full pl-4 outline-none placeholder-gray-400 text-sm"
          placeholder="Search for books"
          type="text"
        />
        <iconify-icon
          id="searchBtn"
          icon="material-symbols:search-rounded"
          width="22"
          height="22"
          class="text-[#8C7A69] cursor-pointer"
        ></iconify-icon>
      </div>

      <a onclick="pindahKeCart()">
        <iconify-icon
          icon="mdi:cart"
          class="text-[#6B5B4D] text-2xl cursor-pointer"
        ></iconify-icon>
      </a>

      <div class="h-[30px] w-[2px] bg-[#D9D1C7]"></div>
      <div id="auth-section"></div>
    </div>
  </div>
</nav>
